a {
  color: white;
}

.title {
  font-size: 350% !important;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

h1 {
  font-size: 250%;
  margin-bottom: 0.9em;
}

h2 {
  font-size: 200%;
}

#toc {
  background-image: url(https://st.depositphotos.com/1483427/1568/i/600/depositphotos_15683505-stock-photo-basketballs-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#toc .nav a {
  background-color: black;
}

#sidebar a {
  color: white
} 

#toc .nav .active ul li a {
  color: black !important;
}

#content pre {
  margin-top: 24px;
}
